<div class="menu" style="left: -240px;">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
  <%= image_tag "close-white.svg", class: "icon-close" %>
</div>

<div class="home">
  <%= image_tag "menu-white.svg", class: "icon-menu" %>
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6 text-center">
        <h1>Create and share Stories</h1>
        <p>
          <%= link_to "Learn More", "#", class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="middle-content">
  <div class="container text-center">
    <h1>Relive and share your adventures</h1>
    <h3>Stories automatically creates a digital journal filled with only your best photos.</h3>
  </div>
</div>
<div class="middle-image">
</div>
<div class="under-content">
  <div class="container text-center">
    <h1>Discover Sroties</h1>
    <%= link_to "Learn More", "#", class: "btn btn-default" %>
  </div>
</div>
<div class="footer text-center">
  <p>A SHUTTERBUGG PROJECT</p>
</div>