<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Condensed' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu" style="left: -240px;">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", new_signup_path %></li>
  </ul>
  <%= image_tag "close-white.svg", class: "icon-close" %>
</div>

<%= yield %>

<div class="footer text-center">
  <p>A SHUTTERBUGG PROJECT</p>
</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
